doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title ~GoOd ViBeS~
    link(rel="stylesheet" media="screen" href="styles.css")
    meta(name="description" content="Random complement server")
  body
    .page-wrapper
      section#complement-intro.intro
        header
          h3 ~GoOd ViBeS~
          h2 Good morning Mr. Sunshine
          h1(data-val= user)= message
        #user-messages.messages(role="main")
          form(action="http://127.0.0.1:8080" method="post")
            .center
              p Want to send a message?
              input(type="text" name="comment" placeholder="Positive!")
              input(type="text" name="user" placeholder="Name (optional)")
              br
              input#btnSubmit(type="submit" value="Submit")
