<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>~GoOd ViBeS~</title>

	<link rel="stylesheet" media="screen" href="styles.css">
	<meta name="description" content="Random complement server">

</head>

<body>
<div class="page-wrapper">

	<section class="intro" id="complement-intro">
		<header>
      <h3>~GoOd ViBeS~</h3>
      <h2>Good morning Mr. Sunshine</h2>
			<h1 data-val="Nicole">You are BEAUTIFUL!</h1>
		</header>

		<div class="messages" id="user-messages" role="main">
      <form action="https://hackaz1718.appspot.com/" method="post">
		<div class="center">
        <p>Want to send a message?</p>
        <input type="text" name="comment" maxlength="90" placeholder="Positive!"/><input type="text" name="user" maxlength="30" placeholder="Name (optional)"/><br />
        <input id="btnSubmit" type="submit" value="Submit"/>
		</div>
      </form>

		</div>
	</section>
</div>
</body>
</html>
